* text=auto
*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.docx binary
*.pptx binary
*.pdf binary
*.xlsx binary
*.png binary
*.jpg binary
*.jpeg binary

